<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mango.mapper.ChatMessageMapper">

    <!-- 插入消息，并返回主键 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_message (
            message_id, group_id, user_id,
            target_id, message, timestamp,
            image_url, file
        )
        VALUES (
                   #{messageId}, #{groupId}, #{userId},
                   #{targetId}, #{message}, #{timestamp},
                   #{imageUrl}, #{file}
               )
    </insert>

    <!-- 批量插入消息 -->
    <insert id="batchInsert">
        INSERT INTO chat_message (
        message_id, group_id, user_id,
        target_id, message, timestamp
        )
        VALUES
        <foreach collection="list" item="msg" separator=",">
            (#{msg.messageId}, #{msg.groupId}, #{msg.userId},
            #{msg.targetId}, #{msg.message}, #{msg.timestamp})
        </foreach>
    </insert>

    <!-- 查询所有消息 -->
    <select id="selectAll" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        ORDER BY timestamp DESC
    </select>

    <!-- 按群组 ID 查询消息 -->
    <select id="selectByGroupId" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE group_id = #{groupId}
        ORDER BY timestamp DESC
    </select>

    <!-- 按用户 ID 查询消息 -->
    <select id="selectByUserId" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE user_id = #{userId}
    </select>

    <!-- 按时间范围查询消息 -->
    <select id="selectByTimestampRange" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE timestamp BETWEEN #{start} AND #{end}
        ORDER BY timestamp DESC
    </select>

    <!-- 搜索消息内容 -->
    <select id="selectByKeyword" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE message = #{keyword} and group_id = #{groupId}
    </select>

    <!-- 根据 message 和 file 查找相同的消息 -->
    <select id="selectByMessageAndFile" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE group_id = #{groupId}
          AND message = #{message}
          AND file = #{file}
    </select>

    <!-- 根据 groupId 和 timestamp 查询该时间戳之后的第一条消息 -->
    <select id="selectNextMessageAfter" resultType="org.mango.model.ChatMessage">
        SELECT * FROM chat_message
        WHERE group_id = #{groupId}
          AND timestamp > #{timestamp}
        ORDER BY timestamp ASC
            LIMIT 1
    </select>
</mapper>